<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Initial Content</title>
    <link href="style.css" rel="stylesheet" type="text/css">

    <script src="jquery-3.4.1.min.js"></script>
    <script src="script.js"></script>
</head>

<body>

<h5 id="books">Books</h5>
<div id="bookTitles">
    <h6>Game of thrones</h6>
    <h6>Endre's Game</h6>
    <h6>Dune</h6>
    <h6>Cucurigu</h6>
</div>
<h5 id="pens"> Pens </h5>
<div id="pensTitle">
    <h6>Staedler</h6>
    <h6>Bic</h6>
</div>
</body>
</html>